{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <nav class="product-category">
        <div class="tab-list">
            <div class="category-name">
                <div class="category-content">
                    <a href="{% url 'getProductCategory' 'Sneakers' %}" class="product-name">Sneakers</a>
                </div>
                <div class="category-content">
                    <a href="{% url 'getProductCategory' 'Fashion' %}" class="product-name">Fashion</a>
                </div>
                <div class="category-content">
                    <a href="{% url 'getProductCategory' 'Collectibles' %}" class="product-name">Collectibles</a>
                </div>
                <div class="category-content">
                    <a href="{% url 'getProductCategory' 'Handbags' %}" class="product-name">Handbags</a>
                </div>
            </div>
        </div>
    </nav>
    <main class="main-section">
        <h2 class="active">Active Listing</h2>
        <ul class="grid">
            {% for product in listing %}
                <div class="container">
                    <div class="product tile">
                        <a href="{% url 'productDetail' product.id %}">
                            <div class="item-image" style="position: relative;padding-top: 58%;">
                                <img src="{{ product.itemImage }}" class="product-img product-img2" alt="product image">
                            </div>
                            <div class="info-container">
                                <div class="item-title item-title2">{{ product.Title }}</div>
                                <div class="info-price">
                                    <div>
                                        <div class="price">Starting Bid</div>
                                        <div class="bid-price">${{ product.startingBid| floatformat:'0' }}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </main>
    {% block content %}
    {% endblock %}
{% endblock %}

